extends layout.pug
block content
	.container
		.alert.alert-dark.my-3
			h4 상세보기
		table.view-tb.table.table-bordered
			tbody
				tr
					td.title.p-3 제목
					td= rs.title
				tr
					td.title.p-3 작성자
					td= rs.writer
				tr
					td.title.p-3 작성일
					td= rs.wdate
				tr
					td.title.p-3 내용
					td
						p= rs.content
						if rs.savefile
							img.my-2.w-100(src=`${rs.savefile}`)
				tr
					td.title.p-3 첨부파일
					td
						a(href=`/board/download/${rs.downfile}`)= rs.realfile
		.text-center
			button.btn.btn-primary(onclick="location.href='/board'") 리스트
			if userid == rs.writer_id
				button.btn.btn-success(onclick=`location.href='/board/write/${rs.id}'`) 수정
				button.btn.btn-danger(onclick=`deleteData(${rs.id})`) 삭제

