extends layout.pug
block content
	.container
		.alert.alert-dark.my-3
			h4 리스트
		table.board-list.table.table-bordered
			thead.thead-dark
				tr
					th 번호
					th 제목
					th 작성자
					th 작성일
					th 조회수
			tbody
				each v in rs
					tr
						td= v.id
						td
							a(href=`/board/view/${v.id}`)= v.title
						td= v.writer
						td= v.wdate
						td= v.rnum