extends layout.pug
block content
	.container
		.alert.alert-dark.my-3
			h4 상세보기
		table.table.table-bordered
			tbody
				tr
					td.p-3(style="width: 25%") 제목
					td= rs.title 
				tr
					td.p-3(style="width: 25%") 작성자
					td= rs.writer
				tr
					td.p-3(style="width: 25%") 작성일
					td= rs.wdate
				tr
					td.p-3(style="width: 25%") 내용
					td
						p= rs.content
						if realfile
							img.w-100(src=`${rs.realfile}`)
		.text-center
			button.btn.btn-primary(onclick="location.href='/board';") 리스트
			button.btn.btn-primary(onclick="location.href='/board/write/:id';") 수정
			button.btn.btn-primary(onclick="deleteData(3)") 삭제
